<?php
// COPY THIS TO config.local.php:
//        cp config.local.example.php config.local.php
// 
// ..AND EDIT IT AS YOU NEED

$DEBUG = FALSE;                     // do not use TRUE on production!! It might expose show error details to the world
$TIME_DEBUG = FALSE;

$ALLOW_ABSOLUTE_URLS = TRUE;       // if true, resizing of any URL is allowed, including external one
$HOST_FOR_URIS = 'mystorage.tbd';   // if relative URL is passed to "src", use this host as a base
$RESIZE_ANIMATED_GIF = TRUE;        // requires ImageMagick
$TMP_DIR = '/var/tmp';              // which dir to use for tmp files (w/o trailing slash!)
$LOG_DIR = null;                    // which dir to user for log files in debug mode
$TMP_DIR_IMAGEMAGICK = null;        // use different tmp dir for ImageMagick (set to 'null' to avoid overriding)
$CONVERT_TIMEOUT = null;            // if not null, let "convert" (imagemagick) work no more than this amount (use '20s' means 20 seconds)
$CONVERT_LIMIT_MEMORY = '32MiB';    // imagemagick memory limit, see https://www.imagemagick.org/discourse-server/viewtopic.php?t=10885
$CONVERT_LIMIT_MAP = '64MiB';       // imagemagick memory limit, see https://www.imagemagick.org/discourse-server/viewtopic.php?t=10885
$CONVERT_LIMIT_TIME = null;         // (alternative to $CONVERT_TIMEOUT) imagemagick time limit, see https://www.imagemagick.org/discourse-server/viewtopic.php?t=10885
$ALLOWED_WIDTHS = null;             // Allowed target widths as array [230, 560]
